.Overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    padding-top: 1rem;
}

/* close button */
.CloseButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
  
    background: transparent;
    border: none;
    color: #fff;
    font-size: xx-large;
    line-height: 1;
    cursor: pointer;
    
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    transition: transform 0.6s ease;
}

.CloseButton:hover {
    transform: rotate(360deg); /* rotate once */
}
