.Header {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--darkColor);
    font-size: larger;
    margin: 0 2px 2px 2px;
    align-items: center;
    font-size: 1rem;
    padding: 0 1rem;
    text-align: left;
}

.HeaderCell {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.HeaderCell a {
    color: yellow;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
    text-decoration: none;
    height: 100%;
    display: inline;
    align-items: center;
}

.HeaderCellCentered {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderCellCentered p {
    margin: 0;
}

.InlineLink {
    display: inline;
}

.Logo {
    height: 100%;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.WhatsAppLink {
    cursor: pointer;
    text-decoration: underline;
}

.EmailCell {
    display: flex;
}

@media (max-width: 768px) {
    .EmailCell {
        display: none;
    }
}