:root {
    --lightHoverColor: #DBA658;
    --lightFontColor: white;
    --lightColor: #B4121B;
    --darkColor: #000000;
    --darkHoverColor: #DBA658;
    --darkFontColor: white;
    --sectionBackGroundColor: rgba(0, 0, 0, 0.9);
    --contentBackgroundColor: rgba(0, 0, 0, 0.6);
    --contentFontColor: white;
    --pageBackGroundColor: #473232;
    --pageFontColor: white;
    --fontColor: white;
    --linkColor: #DBA658;
    --linkHoverColor: #C8954F;
}

.blueTheme {
    --lightColor: blue;
    --darkColor: #1a0155;
}

.redTheme {
    --lightColor: red;
    --darkColor: #27010c;
}

#__next {
    position: relative;
    z-index: 1;
}

html, body {
    width: 100%;
    min-height: 100%;
    font-family: 'Calibri', 'Arial', sans-serif;
    background: none;
    color: var(--pageFontColor);
    text-align: justify;
    user-select: none;
    margin: 0;
}

.Error404Content {
    align-items: center;
    justify-items: center;
    color: white;
}

.Error404Content a {
    display: flex;    
    color: white;
    text-align: center;
    align-items: center;
    justify-items: center;
}

body a, a:visited, a:active {
    color: var(--linkColor);
}

body a:hover {
    color: var(--linkHoverColor);
}
